* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--w);
}
/* @font-face{
  font-family: customFont;
  src: url('./utils/customFonts.ttf');
  } */
:root {
  --dark: #222;
  --dark2: #252525;
  --w: #ffff;
  --w2: #e8e8e8;
  --g1: #808080;
  --b2: #00b7eb;
  --o2:#ffb62e;
  /* font-family: customFont; */
}

body {
  background-color: var(--dark);
}

select {
  background-color: var(--dark);
}
hr {
  background-color: var(--w2);
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
}

.next:hover,
.prev:hover {
  background-color: rgb(0, 0, 0, 0, 8);
}

*:focus {
  outline: none;
}
nav {
  background-color: var(--dark2);
}
nav > div {
  margin-left: 10px;
}

nav > input[type="search"] {
  margin-left: 10px;
  margin-right: 10px;
}
nav > a {
  margin-top: 10px;
  margin-right: 10px;
}
/* img {vertical-align: middle;} */
.categories {
  display: flex;
  width: "800px";
}
/* style scrollbar */
#sideBar {
  overflow-y: auto;
}

/* change border color, background-color and on hover background-color */
#sideBar > a {
  border: 1px solid blue;
  text-align: center;
  padding: 5px;
}
#sideBar > a:hover {
  background-color: #212121;
  padding: 5px;
}

#filterMS > button {
  background-color: var(--b2);
  border: none;
  height: 40px;
  width: 100px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
#filterComponent > button {
  cursor: pointer;
  border: none;
  opacity: 0.8;
  font-size: large;
  color: var(--b2);
  background-color: var(--o2);
}

#footerUiUx{
  position: fixed;
  bottom:4px;
  width:100%;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: minmax(1,70px);
}

#footerUiUx > button {
  cursor: pointer;
  border: none;
  /* opacity: 0.5; */
  font-size: x-large;
  color: var(--b2);
  background-color: inherit;
}

@media only screen and (max-width: 320px) {
  nav {
    overflow-x: hidden;
  }
  nav > img {
    margin-right: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
  }
  nav div {
    margin-left: 0;
  }
  nav > input[type="search"] {
    margin-left: 5px;
    margin-right: 5px;
  }
  #sideBar {
    width: 80px;
  }
}
