@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: justify;
  

  --main: #252525;
  --c2: #1c242c;
  --c3: #161c23;
  --c4: #8d8a8a;
  --c5: #0c0c0ce1;
  --c6: #00ff00;
  --c7: #b9b9b9;
}

body {
  background-color: var(--c2);
  color: whitesmoke;
  margin: auto;
  width: 100dvw;
  overflow-x: hidden;
}

/* banner styles */
#welcome-banner {
  position: absolute;
  top: 100px;
  left: 10%;
  height: 200px;
  width: 80dvw;
  background-image: url("./assets/img/banner_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s, box-shadow 0.3s;
  filter: brightness(65%);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
}

.banner-msg {
  z-index: 3;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-banner:hover .banner-msg {
  opacity: 1;
  background-color: var(--c5);
}
#welcome-banner:hover {
  filter: brightness(100%);
}
#install div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}
#install div:hover {
  background: var(--main);
  width: inherit;
  height: inherit;
  border-radius: 2px;
}
#install img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

/* poster styles */
.posters {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 2px;
}
.temp-posters {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 2px;
}
.temp-poster {
  height: 200px;
  width: 150px;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
  animation: wave 3s ease-in-out infinite;
  background: linear-gradient(100deg, #2b2a2a, #1c242c, #252525, #2e3135);
  background-size: 400% 400%;
}
.movies-slide h1 {
  color: rgb(108, 231, 6);
  background-color: rgb(34, 34, 41);
  border-radius: 5px;
  border: 1px solid lime;
  width: 340px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: auto;
  animation: jitter 0.5s infinite;
}

.poster {
  height: 200px;
  width: 150px;
  border-radius: 3px;
  margin: 5px 5px 40px 5px;
  cursor: pointer;
  position:relative;
 

}


.poster_shadow {
  z-index: 3;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster:hover .poster_shadow {
  opacity: 1;
  background-color: var(--c5);
}
.play_button {
  font-size: 30px;
  color: transparent;
 
  transition: color 0.3s ease, font-size 0.4s ease-in-out;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
 
  
  
}
.poster:hover .play_button {
  font-size: 50px;
  color: limegreen;
  transition: all ease-in;
  text-align: center;
}
#download-wrapper {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#download {
  background-color: rgb(27, 116, 27);
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  position: absolute;
  margin: 0 0 10px 5px;
  z-index: 5;
}
.poster img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transition: filter 0.3s, box-shadow 0.3s;
}

.poster figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: var(--c4);
}
.poster figcaption:hover {
  color: var(--c6);
}
#trending {
  margin-top: 300px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--c3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--c2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c7);
}
/* navigation menu */
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: 5px;
  background: var(--c3);
  width: 100dvw;
  display: flex;
  z-index: 6;
  cursor: pointer;
}
#logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 1px 1px 1px 90px;
}
#navigation a {
  color: inherit;
  text-decoration: none;
  padding: 5px;
}
#navigation a:hover {
  background: var(--main);
  width: inherit;
  height: inherit;
  border-radius: 2px;
}
#navigation li {
  list-style: none;
  margin: 10px;
  text-align: center;
}
.menu {
  position: relative;
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  color: #fff;
  margin-left: 10%;
  width: 63px;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

ul {
  position: absolute;
  top: 100%;
  left: 26%;
  background-color: inherit;
  list-style: none;
  display: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="checkbox"]:checked ~ ul {
  display: block;
}
/* video player styles */
#buffer {
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 12;
  border: 10px solid #f3f3f32f;
  border-top: 10px solid #24ff07;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}
#wrapper {
  width: 90dvw;
  height: 80dvh;
  cursor: pointer;
}
#video-container {
  width: inherit;
  height: inherit;
  align-self: flex-start;
  display: none;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  gap: 4px;
  margin: 0 auto auto auto;
  border-radius: 3px;
  background-color: black;
}

#video-container > video {
  grid-column: 1/11;
  grid-row: 1/11;
  width: inherit;
  height: inherit;
}

.video_container > video::poster {
  object-fit: fill;
  width: inherit;
  height: inherit;
}
#control-buttons {
  z-index: 8;
  grid-column: 1/11;
  grid-row: 5/5;
  display: none;
  justify-content: space-evenly;
  justify-items: center;
  flex-flow: row nowrap;
  width: inherit;
}

#video-container:hover #control-buttons {
  display: flex;
}
#settings {
  z-index: 8;
  grid-column: 10/10;
  grid-row: 2/2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-right: 15px;
  position: relative;
  display: none;
}
#video-container:hover #settings {
  display: block;
}
#settings-controls {
  z-index: 9;
  grid-column: 5 / span 2;
  grid-row: 3/9;
  width: 300px;
  display: none;
  background: rgba(58, 56, 56, 0.527);
  border: none;
  border-radius: 3px;
}
#settings-controls {
  width: 100%; /* Set the width of the table to 100% of its parent container */
}

#settings-controls td {
  width: 70px; /* Set the width of each table cell to one third of the table width */
  height: 50px; /* Set a fixed height for each table cell */
}
#settings-controls th {
  /*  Set the width of each table cell to one third of the table width */
  width: 70px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 3px;
  text-align: center;
}

#settings-controls button {
  height: 70px;
  width: 70px;
  text-align: center;
  color: white;
  background: rgb(34, 33, 33);
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

#settings > img {
  transition: transform 400ms;
}
#settings > img:hover {
  transform: rotate(90deg);
}

#controls {
  z-index: 8;
  grid-column: 1/11;
  grid-row: 9/9;
  display: none;
  flex-direction: column;
}
#video-container:hover #controls {
  display: flex;
}

#controls > *:first-child {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 15px;
}

#track {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 8px;
  background: rgba(150, 144, 144, 0.26);
  border-radius: 2px;
}

#duration {
  background-color: var(--c6);
  height: 6px;
  border-radius: inherit;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg_img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

#play-pause,
#forward,
#backward {
  width: 150px;
  height: 150px;
}
#backward .svg_img {
  width: 50%;
  height: 50%;
  transform: rotate(180deg);
}
#forward .svg_img {
  width: 50%;
  height: 50%;
}
#fullscreen {
  background-color: transparent;
  width: 50px;
  height: 50px;
}
#time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#close-dialog {
  background-color: rgba(46, 46, 46, 0.589);
  border-radius: 50%;
  border: #0c0101 1px solid;
  height: 50px;
  width: 50px;
  margin: 1% auto 1% auto;
  text-align: center;
  cursor: pointer;
}
#watch-video {
  z-index: 7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: center;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #252525c2;
  backdrop-filter: blur(5px);

  width: 100dvw;
  height: 100dvh;
}
#watch-video * {
  color: whitesmoke;
}
footer div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  border-radius: 3px;
  padding: 30px;
}

#copyright {
  grid-column: 2;
  color: rgb(153, 148, 148);
}

#about {
  grid-column: 1/3;
  display: flex;
  flex-flow: column;
  text-align: justify;
  border-right: 1px solid rgb(44, 44, 44);
  padding-right: 15px;
}
#about > p {
  color: rgb(219, 217, 217);
}

#contacts {
  grid-column: 3;
  display: flex;
  flex-flow: column;
}
#contacts a {
  margin-bottom: 15px;
}

footer a {
  color: white;
  text-align: center;
  width: 70px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161c23;
  padding-top: 15px;
  cursor: default;
  font-family: "Lato", sans-serif;
}

/* small tablet to mobile devices screen */
@media screen and (max-width: 440px) {
  ul {
    left: 25%;
  }
  #logo {
    background: rgb(255, 255, 255);

    margin: 1px 1px 1px 20px;
  }
  .movies-slide h1 {
    width: 300px;
  }
  .temp-posters {
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    min-height: 300px;
  }
  .temp-poster {
    min-height: 250px;
    min-width: 200px;
  }

  .posters {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    border-radius: 2px;
    height: 300px;
  }
 
   #buffer {
    top: 50%;
    left: 44%;
  }
 
}
@media screen and (max-width: 800px) {
  #close-dialog {
    height: 30px;
    width: 30px;
  }
  #buffer {
    top: 40%;
    left: 40%;
  }
}
/* animations */
@keyframes jitter {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 10px solid #24ff07;
    transition: border-top 3s ease-in-out;
  }
  25% {
    transform: rotate(90deg);

    border-right: 10px solid #24ff07;
    transition: border-right 3s ease-in-out;
  }
  50% {
    transform: rotate(170deg);

    border-bottom: 10px solid #24ff07;
    transition: border-bottom 3s ease-in-out;
  }
  100% {
    transform: rotate(360deg);

    border-left: 10px solid #24ff07;
    transition: border-left 3s ease-in-out;
  }
}